# Git
.git/

# SSH и ключи
.ssh/
*.pem
*.key

# GPG
.gnupg/

# Переменные окружения
.env
.env.*

# Токены
*.token
*.secret

# Кэш
.cache/
.cache/**

# История shell
.bash_history
.zsh_history
.lesshst

# Логи
*.log

# Swap-файлы
*.swp
*.swo

# Backup-файлы
*~
*.bak

# Python
__pycache__/
*.pyc

# Node
node_modules/

# VS Code
.vscode/

# Thumbnails
Thumbs.db
.DS_Store
